.img-back {
  background-image: url(../img/backgound.png);
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 5%;
}

.img-cv {
  width: 25%;;
}

.img-card {
  width: 100%;
}

.espacio {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 5%;
}

a:link, a:visited {
  
  color: white;
  text-align: center;
  text-decoration: none;
  
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



